# autotools
Makefile.in
Makefile

# autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/test-driver
.deps
/INSTALL

/src/config.h*
/src/config.log
/src/config.status
/src/stamp-h1

# ignore object files
*.o
sipsak
